.ggttmmLayout{
    width:100%;
    display:inline-block;
}


img.openMemo{
    width:32px;
    height:16px;
    margin-right:4px;
    display: inline-block;
    vertical-align:middle;
}

.myForm{
    display: none;
    width:calc(100% - 48px);
}

.myText{
    display: inline-block;
    max-width:100%;
    border:none;
    outline: none;
    background: #f0ff98;
}

.myText:focus{
   background:hsl(0, 0%, 68%);
}

.myButton{
    width:16px;
    height:50%;
    background-color: transparent;
    background-image: url("chrome-extension://__MSG_@@extension_id__/source/check.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: none;
}