.ggttmmLayout{
    width:100%;
    display:inline-block;
}

.myForm{
    display: none;
    width:calc(100% - 32px);
}

img.openMemo{
    width:32px;
    height:16px;
    display: inline-block;
    vertical-align:middle;
}

.myText{
    display: inline-block;
    border:none;
    outline: none;
    background: #f0ff98;
}

.myText:focus{
   background:hsl(0, 0%, 68%);
}

.myButton{
    background: none;
    border: none;
}